@import '../../styles/base';

.todo-item {
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	position: relative;
	opacity: 1;
	overflow:  hidden;
	height:  60px;
	line-height:  3;
	display:  block;
	top:  -62px;
	@include box-sizing(border-box);

	&__slider {
		position: relative;
		z-index: 1;
		height: 62px;
	}

	&__inner {
		border-top: 1px solid rgba(255,255,255,0.07);
		border-bottom: 1px solid rgba(0,0,0,0.1);height: 100%;
		@include box-sizing(border-box);
	}

	&__field {
		cursor: default;
		display: none;
		font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
		font-size: 19px;
		font-weight: bold;
		color: #fff;
		background: transparent;
		border: 0;
		padding: 0;
		height: 62px;
		outline: 0;
		position: absolute;
		top: -1px;
		left: 0;
		right: 0;
		padding-left: 9px;

        &--edit {
            display:  block;
        }
	}

	&__title {
		position: absolute;
		top: 0;
		left: 12px;
		cursor: default;
		display: block;
		min-height: 100%;

		&--done {
			color: #666;
			text-decoration: line-through;;
		}

        &--edit {
            display:  none;
        }
	}

	&__check, &__cross {
		width: 62px;
		height: 62px;
		position: absolute;
		z-index: 0;
		top: 0;
	}

	&__check {
		left: 0;
	}

	&__cross {
		right: 0;
	}

	&--edit {
		opacity: 1 !important;
	}
}
